<div class="center jumbotron">
  <h1>site rails avec Backend</h1>

  <%= image_tag("https://cdn.evbuc.com/images/41529495/224645637343/2/logo.png", class: "img-responsive" , :alt => "THP Logo") %>
  <h2>Bonjour utilisateur inconnu</h2>

</div>

<div class="jumbotron" style="background-color:#e3aef2;">
  <center>
    <p>Ceci est un exemple de site rails avec Backend utilisant Bootstrap</p>
  </div>
</center>

<center>
  <div class="alert alert-info">
    <p>Pour vous inscrire,
      <%= link_to 'c\'est par ici', new_user_path %></p>
  </center>
</div>
