<div class="jumbotron text-center">
  <h1>Bienvenue sur la page de création d'utilisateurs !</h1>
</div>
<div class="jumbotron" style="background-color:#f2e3ae;">
  <form class="form-group" action="/new" method="post">

    <% if @user.errors.any? %>
      <div class="alert alert-danger">
        <% pluralize(@user.errors.count, "Error") %>
          <strong>Ce nom d'utilisateur ne peut pas être utilisé</strong>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <% if msg == "Name is invalid" %>
                <li>
                  <%= "Votre nom ne peut pas contenir d'espaces ou de caractères spéciaux" %>
                </li>
              <% else %>
                <li><%= msg %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>

      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      Choisis un nom d'utilisateur:</br>
    <input placeholder="Nom" type="text" name="user_name" class="form-control"></br>
  Racontes-nous qui tu es:</br>
<textarea placeholder="Bio : Rédiges ta bio en quelques mots" name="bio" class="form-control"></textarea>
</br>
<input class="btn btn-primary" type="submit" value="Envoyer">

</form>
</div>
